body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: rgb(250,250,250);
    background-color: rgb(57,154,234);
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    color: rgb(0,90,170);
    text-align: center;
    margin-bottom: .5em;
}

main {
    margin-top: 5em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    color: rgb(0,90,170);
    text-align: center;
    padding: 3em;
}
footer a {
    color: rgb(150,150,250);
}
footer a:hover {
    color: rgb(100,100,200);
}

.logo {
    fill: rgb(0,90,170);
    width: auto;
    height: 2em;
    transition: fill, .2s;
}
a:hover .logo {
    fill: rgb(250,250,250);
}


.github-link svg {
    width: 3em;
    fill: rgb(100,100,100);
}


/* UTILITY */
.text-center {
    text-align: center !important;
}
