body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: rgb(250,250,250);
    background-color: rgb(57,154,234);
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    color: rgb(0,90,170);
    text-align: center;
    margin-bottom: .5em;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2em;
    text-align: center;
}

main {
    margin-top: 5em;
}


input[type=file] {
    display: none;
}
label[role=button] {
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(250,250,250);
    color: rgb(57,154,234);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    border-radius: 10em;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
label:hover {
    background-color: rgb(0,90,170);
    color: rgb(57,154,234);
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 6em);
    text-align: center;
    padding: 3em;
}
footer a {
    color: rgb(150,150,250);
}
footer a:hover {
    color: rgb(100,100,200);
}

.logo {
    fill: rgb(0,90,170);
    width: auto;
    height: 2em;
    transition: fill, .2s;
}
a:hover .logo {
    fill: rgb(250,250,250);
}


.github-link svg {
    height: 2.5em;
    fill: rgb(0,90,170);
    margin-left: 5em;
    transition: fill .2s;
}
.github-link svg:hover {
    fill: rgb(250,250,250);
}


/* UTILITY */
.text-center {
    text-align: center !important;
}
